<%= simple_form_for[@restaurant] do |f| %>
  <div class="form-group">
  <%= f.input :name %>
</div>
    <div class="form-group">
  <%= f.input :address %>
</div>
  <div class="form-group">
  <%= f.input :category %>
</div>
  <%= f.button :submit %>
<% end %>
